ul li{
 list-style: none;
}
@import url(http://allfont.ru/allfont.css?fonts=roboto-regular);
@font-face {
  font-family: 'Conv_PlayfairDisplayBold';
  src: url('../fonts/PlayfairDisplayBold.eot');
  src: local('☺'), url('../fonts/PlayfairDisplayBold.woff') format('woff'), url('../fonts/PlayfairDisplayBold.ttf') format('truetype'), url('../fonts/PlayfairDisplayBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.margin_btn{
  margin:52px 0;
}
.form_answer{
  border-right: none !important;
  background: white;
}
.bgnone{
  background: none;
  border-left: none !important;
}
 .pad0 ul li a:first-child {
      padding: 11px;
}
.imp0{
  padding-left: 0 !important;
}
.zagl{
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
}
.pad0{
  padding: 0px;
}
.conv{
   font-family: 'Conv_PlayfairDisplayBold'
}
.upper{
  padding-top: 10px;
}
.margim_top_3{
  margin-top:3px;
}
.header{
  margin-bottom: 0;
}
.header ul>li a{
  padding-bottom: 5px;
}
ul{
  margin-bottom: 0px;
}
.top{
  margin-top:20px;
}
.p_top{
  margin-top: 10px;
}
.weight{
  font-weight: 700;
}
.hr_news_block{
  margin: 7px 0 10px 0;
 border-top: 3px solid #ccc;
}
.margin-{
margin-top: -10px;
}
.bottom{
  margin-bottom: 30px;
}
.upper{
   text-transform: uppercase;
}
.colorwhite{
  color: white;
}
.color77{
  color: #777777;
}
.colore9{
  color: #e96c4c;
}
.dek{
  padding: 4px;
}
.dek .bg-black , .dek .bg-green , .dek .bg-cerot{
  padding: 3px 6px;
  color: white;
  border-radius: 5px;
}
.bg-black{
  background: black;
}
.color97{
  color: #979494;
}
.color97 a{
   color: #979494;
}
.bg-cerot{
  background: #e96c4c;
}
.bg-green{
  background: green;
}
.bg{
  background: #f9f9f9;
}
.otstup{
  margin-top: 18px;
}
.login{
  padding: 5px 7px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 20px;
}
.upper a {
  color: black;
  margin-right: 5px;
  font-size: 17px;
}
.upper a:hover{
  color: #666666;
  text-decoration: none;
}
.upper a:first-child{
  font-size: 14px;
}
.upper a:after{
  content:"-";
  color:#cccccc;
  margin-left: 5px;
}
.upper a:first-child:after {
  content:none;
}
.header{
  border:none;
  background: none;
  margin-top: 0px;
  width: 100%;
}
.hr_1{
  margin-bottom: 0;
}
.nomer{
  word-spacing:normal;
  margin-top: 12px;
}
.search{
  margin-left: 2px;
  padding-top:10px;
  margin-bottom: -3px;
  width: 42px;
  height: 42px;
  background:orange;
  font-size: 18px;
}
.banner{
  margin: 0 auto;
}
.menu-main{
  padding:10px;
  display:inline-block;
    border:none;
    background: #e96c4c;
}
.line-menu{
  display: block;
  margin: 3px 0;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: white;
}
.displai{
  display: none;
}
.bg .social li{
  margin: 0 1px;
}
.towar-block{
  width: 23%;
  margin: 1%;
}
.bg-towar{
  padding: 10px;
  width:100%; 
  height:163px;
  background: grey;
}
.tochka{
  border-bottom: 1px dotted #cccccc;
font-weight:600;
}
.carousel-indicators{
  position: static;
  display: block;
  margin: 0 auto;
    width: 60%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.carousel-indicators li{
  border: 1px solid #e96c4c;

}
.carousel-indicators .active{
  background:#e96c4c;
}
.news-block{
  width: 48%;
  margin: 1%;
  max-height: 480px;
}
.news-carousel {
  margin-top:15px ;
}
.news-carousel li{
  margin: 1px 10px;
}
.news-carousel .active{
   margin: 0px 10px;
}
.avatar{
  max-width: 56px;
  max-height: 56px;
}
.name{
 margin: 7px 0 0px;
}
.right_news_block{
  padding: 30px;
}
.connect{
  border: 1px solid #e8e8e8;
  width: 91.8%;
  margin: 4%;
  padding: 10px;
}
form [name="connect"]{
width: 100% ;
padding: 5px;
border-radius: 4px;
border: 1px solid #cccccc;
color: #cccccc;

}
form [required]{
  margin:10px 0;
}
.footer{
  background: #2f2f2f;
  padding: 20px 0;

}
.footer ul {
  padding-left: 0;
}
.footer ul li { 
  border-bottom: 1px solid #393939;
  padding: 5px 0;
}
.footer ul li a{
 color: #979494;
}
.footer ul li a:hover{
  text-decoration: none;
}
.date_create{
  background: #252525;
  padding-top: 20px;
}
.decor_obvod{
  display: inline-block;
  padding: 5px 8px;
  margin:0 3px;
  height: 28px;
  width: 28px;
  
  background: #303030;
}
.nagrad{
  padding: 40px 0 37px;
}
.valign{
  vertical-align: middle;
}
.full{
  height: 100%;
}
.pading-nagrada1{
  padding-top:60px;
}
.pading-nagrada2{
  padding-top:40px;
}
/*profile*/
.profile_menu{
  border:1px solid #dfdfdf;
  padding-left: 0px;
  border-radius: 5px;
}
.profile_menu li{
  border-bottom: 1px solid #dfdfdf;
  padding: 10px;
}
.profile_menu li a {
  color: #8c8c8c;
}

.profile_menu li:hover{
  background: #5bc0de;
}
.profile_menu li:hover a{
  color: white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border-top: 2px solid #e96c4c;
}
.pers_info input{
 width: 100%;
 border:1px solid #f1f1f1;
 border-radius: 5px;
 padding: 5px 10px;
}
@media only screen and (max-width:991px ){
.displaynone{
  display: none;
}
.right_news_block{
  padding: 0px;
}
}
@media only screen and (max-width:480px ){
  .item .towar-block{
    width: 48%;
  }
  .top-n{
    padding-top: 10px !important;
  }
  .top20px{
    padding-top: 20px;
  }
.upper a {
  font-size: 13px;
}
.upper a:first-child{
  font-size: 11px;
}
.login {
    padding: 3px 5px;
    height: 22px;
    width: 22px;
}
}
@media only screen and (max-width:320px ){
  .top-n{
    padding-top: 10px;
  }
}